GMAIL_USER=kyle@worksmate.co.kr

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

MAIL_TO=sales@worksmate.co.kr, kyle@worksmate.co.kr
MAIL_SLACK_EMAIL=channel-id@workspace.slack.com
MAIL_FROM_NAME=GADA Desk
